@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Momo+Trust+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    
}
body {
  color: rgb(255, 255, 255);
}

body{
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    
    background-image: url('colunas athena.png'); 
    
    width: 100vw; 
    height: 100vh; 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    
    
    background-color: #333; 
    
}



.container {
  width: 420px;
  background-color: transparent;
  border: 2px solid rgba(244, 242, 239, 0.79);
  border-radius: 10px;
  color: #f4f4f4; 
  padding: 30px 40px;
  box-shadow: 1px 1px 5px 4px rgba(236,236,236,1);
-webkit-box-shadow: 1px 1px 5px 4px rgba(236,236,236,1);
-moz-box-shadow: 1px 1px 5px 4px rgba(236,236,236,1);
}

  
   .container h1{
    font-size: 36px;
    text-align: center;
   }
   
   
   .input-box{ 
    position:relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
   }
   .input-box input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 3px solid rgba(255, 255, 255, 0.2);
  outline: none;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
  border-radius: 10px;
}
.input-box input::placeholder{
    color: #fff;
}

.input-box i {
    position: absolute;
    
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    
    height: 20px;
    font-size: 20px;
}


.remember-forgot {
  display: flex; 
  justify-content: space-between;
  align-items: center; 
  font-size: 14px;
  color: #fff;
  margin: 10px 0 20px;
}

.entrar{
    display: block; /* ocupa a linha toda */
    position: absolute;
    bottom: 540px;
    left: 1385px;    
    padding: 5px 10px;
    border: 2px solid #ffffff;
    border-radius: 8px;
    background-color: #400094;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-family: 'Almendra', serif;
    cursor: pointer;
    transition: 0.3s
}


